body {
    background: rgb(90, 192, 240);
    font: normal 15pt Arial;
}

header {
    color: white;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(53, 53, 53, 0.459);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}